/* Prevent wrapping of time column */
table td:first-child,
table th:first-child,
table td:nth-child(3)
table th:nth-child(3) {
  white-space: nowrap !important;
}

/* Hide the "View on GitHub" button */
.btn {
  display: none !important;
}

/* Override Cayman theme header height */
.page-header {
/*  padding-top: 1rem !important; */
/*  padding-bottom: 1rem !important; */
  min-height: auto !important;
}

/* Center text properly inside the slim header */
.site-header {
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertically center content */
  align-items: center;     /* horizontally center content */
  height: 4rem;            /* set a fixed height instead of padding */
  margin: 0;
  border-bottom: none;
}
